
.Doge{
  background-image: url("./doge.jpg");
  height:450px;
  width: 800px;
  background-size: auto;
  background-repeat: no-repeat;

  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
p{
   color:white;
    font-family: 'Anton', sans-serif;
    -webkit-text-stroke: 2px black;
    font-size: 24pt;  
}
